mat-card.solicitud-card {
  cursor: pointer;
  border-radius: 12px;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
  overflow: visible;
  position: relative;
  z-index: 1;
}

.solicitud-card:hover {
  transform: translateY(-4px);
}

@mixin card-color($color) {
  box-shadow: 0 4px 12px rgba($color, 0.25);

  &:hover {
    border-color: $color;
    box-shadow:
      0px 0px 1px 1px rgba($color, 0.25),
      4px 4px 4px 0px rgba($color, 0.5);
  }
}

@mixin header-color($color) {
  background: linear-gradient(135deg, rgba($color, 0.35), rgba($color, 0.15));
  border-radius: 12px 12px 0 0;
  position: relative;
  z-index: 2;
}

.solicitud-card.border-primary {
  @include card-color(#1fad55);
}
.solicitud-card.border-accent {
  @include card-color(#1177ca);
}
.solicitud-card.border-warn {
  @include card-color(#c52b20);
}
.solicitud-card.border-info {
  @include card-color(#00bcd4);
}
.solicitud-card.border-success {
  @include card-color(#4caf50);
}
.solicitud-card.border-warning {
  @include card-color(#ffc107);
}
.solicitud-card.border-purple {
  @include card-color(#9c27b0);
}
.solicitud-card.border-teal {
  @include card-color(#009688);
}
.solicitud-card.border-orange {
  @include card-color(#ff9800);
}
.solicitud-card.border-blue {
  @include card-color(#2196f3);
}
.solicitud-card.border-pink {
  @include card-color(#e91e63);
}
.solicitud-card.border-lime {
  @include card-color(#cddc39);
}
.solicitud-card.border-cyan {
  @include card-color(#00acc1);
}
.solicitud-card.border-indigo {
  @include card-color(#3f51b5);
}
.solicitud-card.border-brown {
  @include card-color(#795548);
}
.solicitud-card.border-grey {
  @include card-color(#9e9e9e);
}
.solicitud-card.border-lightblue {
  @include card-color(#03a9f4);
}
.solicitud-card.border-deeporange {
  @include card-color(#ff5722);
}
.solicitud-card.border-deeppurple {
  @include card-color(#673ab7);
}
.solicitud-card.border-amber {
  @include card-color(#ffc107);
}

.solicitud-header.header-primary {
  @include header-color(#1fad55);
}
.solicitud-header.header-accent {
  @include header-color(#1177ca);
}
.solicitud-header.header-warn {
  @include header-color(#c52b20);
}
.solicitud-header.header-info {
  @include header-color(#00bcd4);
}
.solicitud-header.header-success {
  @include header-color(#4caf50);
}
.solicitud-header.header-warning {
  @include header-color(#ffc107);
}
.solicitud-header.header-purple {
  @include header-color(#9c27b0);
}
.solicitud-header.header-teal {
  @include header-color(#009688);
}
.solicitud-header.header-orange {
  @include header-color(#ff9800);
}
.solicitud-header.header-blue {
  @include header-color(#2196f3);
}
.solicitud-header.header-pink {
  @include header-color(#e91e63);
}
.solicitud-header.header-lime {
  @include header-color(#cddc39);
}
.solicitud-header.header-cyan {
  @include header-color(#00acc1);
}
.solicitud-header.header-indigo {
  @include header-color(#3f51b5);
}
.solicitud-header.header-brown {
  @include header-color(#795548);
}
.solicitud-header.header-grey {
  @include header-color(#9e9e9e);
}
.solicitud-header.header-lightblue {
  @include header-color(#03a9f4);
}
.solicitud-header.header-deeporange {
  @include header-color(#ff5722);
}
.solicitud-header.header-deeppurple {
  @include header-color(#673ab7);
}
.solicitud-header.header-amber {
  @include header-color(#ffc107);
}

.card-title {
  font-size: 1.1rem;
  font-weight: 550;
  letter-spacing: 0.5px;
  text-align: center;
  margin: -0.3rem 0 0.4rem 0;
}

.card-encabezado {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
}

.card-descripcion {
  font-size: 0.9rem;
}
