.video-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;

  h2 {
    margin: 0;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  border-radius: 4px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-description {
  margin-top: 15px;
  color: #555;
  font-style: italic;
}

.error-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  color: white;
  mat-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
  }
}
