.modify-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;

  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }

  .button-group {
    display: flex;
    justify-content: space-between;

    button {
      flex: 1;
      margin: 0 5px;
    }
  }

  .notification-container {
    width: 100%;
    margin-top: -25px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .notification {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation:
      fadeIn 0.5s,
      fadeOut 0.5s ease-out 2.5s;
  }

  .notification.success {
    background-color: #4caf50;
  }

  .notification.error {
    background-color: #f44336;
  }

  .notification.info {
    background-color: #2196f3;
  }
}
